name: Container Image

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/container-image.yaml
      - backstage/**
  schedule:
    - cron: '0 8 * * MON'  # Monday at 8am, we might increase this when reaching beta

# Sets permissions of the GITHUB_TOKEN to allow pushing a conatainer image to ghcr.io
permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@v5

      - name: Build Image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          archs: amd64, arm64
          context: backstage
          containerfiles: backstage/Containerfile
          image: best-of-backstag
          tags: latest
          oci: true

      - name: Echo Outputs
        run: |
          echo "Image: ${{ steps.build-image.outputs.image }}"
          echo "Tags: ${{ steps.build-image.outputs.tags }}"
          echo "Tagged Image: ${{ steps.build-image.outputs.image-with-tag }}"

      - name: Check images created
        run: buildah images | grep '${{ env.IMAGE_NAME }}'

      - name: Check manifest
        run: |
          set -x
          buildah manifest inspect ${{ steps.build-image.outputs.image }}:${{ env.IMAGE_TAG }}

      - name: Push to GitHub
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: ghcr.io/${{ github.repository_owner }}
          username: ${{ github.actor }}
          password: ${{ github.token }}
