name: Container Image

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/container-image.yaml
      - backstage/**
  schedule:
    - cron: '0 8 * * MON'  # Monday at 8am, we might increase this at some point

# Sets permissions of the GITHUB_TOKEN to allow pushing a conatainer image to ghcr.io
permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@v6

      - name: Install podman
        run: |
          sudo apt-get update
          sudo apt-get -y install podman

      - name: Build Image with Podman
        run: |
          podman build -t best-of-backstage backstage

      - name: Push to GitHub Container Registry
        run: |
            echo ${{ github.token }} | podman login ghcr.io -u ${{ github.actor }} --password-stdin
            podman push best-of-backstage:latest ghcr.io/${{ github.repository_owner }}/best-of-backstage:latest
